:root {
    /* Dark brown theme */
    --theme-brown-bg: #282828;
    --theme-brown-card: #3c3836;
    --theme-brown-label: #a89984;
    --theme-brown-input-bg: #282828;
    --theme-brown-input-border: #181818;;
    --theme-brown-input-color:#b8bb26;
    --theme-brown-p: #a89984;
    --theme-brown-div: #a89984;
    --theme-brown-text: #ebdbb2;
    --theme-brown-textarea-bg: #282828;
    --theme-brown-textarea-border: #181818;
    --theme-brown-textarea-color: #fabd2f;

    /* Dark blue theme white:#f8f8f2*/
    --theme-brown-bg: #282a36;
    --theme-brown-card: #44475a;
    --theme-brown-label: #6272a4;
    --theme-brown-input-bg: #282828;
    --theme-brown-input-border: #181818;;
    --theme-brown-input-color: #f1fa8c;
    --theme-brown-p: #6272a4;
    --theme-brown-div: #6272a4;
    --theme-brown-text: #bd93f9;
    --theme-brown-textarea-bg: #282a36;
    --theme-brown-textarea-border: #181818;
    --theme-brown-textarea-color: #ff79c6;
    --theme-blue-btn: #50fa7b;


}

body {
    background-color: #282828;
}

label {
    color: #a89984;
}

p {
    color: #a89984;
}

div {
    color: #a89984;
}

h2 {
    color: #ebdbb2;
}

hr {
    border: solid;
    border-color: black;
}

input {
    background-color: #282828; 
    border: #181818; 
    color: #b8bb26; 
    font-family: Consolas,Menlo,"courier new",monospace;
}

textarea {
    background-color: #282828; 
    border: #181818; 
    color: #fabd2f; 
    font-family: Consolas,Menlo,"courier new",monospace;
}


.btn-info:hover {
    }
    .btn-info,
    .btn-info:active,
    .btn-info:visited, {
        background-color: #fe8019;
    }

    .btn-info:focus {
    background-color: yellow;
    border-color: yellow;
    color: black;
    }

