.theme-brown {
    /* Dark brown theme */
    --theme-bg: #282828;
    --theme-card: #3c3836;
    --theme-label: #a89984;
    --theme-input-bg: #282828;
    --theme-input-border: #181818;;
    --theme-input-color:#b8bb26;
    --theme-p: #a89984;
    --theme-div: #a89984;
    --theme-main-text: #ebdbb2;
    --theme-sub-text: #bdae93;
    --theme-textarea-bg: #282828;
    --theme-output-border: #181818;
    --theme-output-color: #fabd2f;
    --theme-btn: #fe8019;
    --theme-footer-text: #458588;
}

.theme-blue {
    /* Dark blue theme white:#f8f8f2*/
    --theme-bg: #282a36;
    --theme-card: #44475a;
    --theme-label: #6272a4;
    --theme-input-bg: #282828;
    --theme-input-border: #181818;;
    --theme-input-color: #f1fa8c;
    --theme-p: #6272a4;
    --theme-div: #6272a4;
    --theme-purple: #bd93f9;
    --theme-main-text: #abb2bf;
    --theme-sub-text: #6272a4;
    --theme-textarea-bg: #282a36;
    --theme-output-border: #181818;
    --theme-output-color: #ff79c6;
    --theme-btn: #50fa7b;
    --theme-footer-text: #ffb86c;
}

    /* Default theme 
    --theme-bg: var(--theme-brown-bg);
    --theme-card: var(--theme-brown-card);
    --theme-label: var(--theme-brown-label);
    --theme-input-bg: var(--theme-brown-input-bg);
    --theme-input-border: var(--theme-brown-input-border);
    --theme-input-color: var(--theme-brown-input-color);
    --theme-p: var(--theme-brown-p);
    --theme-div: var(--theme-brown-div);
    --theme-text: var(--theme-brown-text);
    --theme-textarea-bg: var(--theme-brown-textarea-bg);
    --theme-textarea-border: var(--theme-brown-textarea-border);
    --theme-textarea-color: var(--theme-brown-textarea-color);
    --theme-blue-btn: var(--theme-blue-btn);
}

 Switched theme 
#theme:checked ~ #page {
    --theme-bg: var(--theme-blue-bg);
    --theme-card: var(--theme-blue-card);
    --theme-label: var(--theme-blue-label);
    --theme-input-bg: var(--theme-blue-input-bg);
    --theme-input-border: var(--theme-blue-input-border);
    --theme-input-color: var(--theme-blue-input-color);
    --theme-p: var(--theme-blue-p);
    --theme-div: var(--theme-blue-div);
    --theme-text: var(--theme-blue-text);
    --theme-textarea-bg: var(--theme-blue-textarea-bg);
    --theme-textarea-border: var(--theme-blue-textarea-border);
    --theme-textarea-color: var(--theme-blue-textarea-color);
    --theme-blue-btn: var(--theme-blue-btn);
}*/


body {
    background-color: var(--theme-bg);
}

label {
    color: var(--theme-sub-text);
}

a, 
a:hover {
    color: var(--theme-input-color);
}

li {
    color: var(--theme-btn);
}

p {
    color: var(--theme-sub-text);
}

div {
    color: #a89984;
}

h1, h2, h3 {
    color: var(--theme-main-text);
}

h2 {
    color: var(--theme-main-text);
}

hr {
    border: solid;
    border-color: black;
}

input {
    background-color: #282828; 
    border: #181818; 
    color: #b8bb26; 
    font-family: Consolas,Menlo,"courier new",monospace;
}

textarea {
    background-color: var(--theme-bg); 
    border: #181818; 
    color: var(--theme-output-color); 
    font-family: Consolas,Menlo,"courier new",monospace;
}

button {
    background-color: var(--theme-btn);
    border-color: var(--theme-btn);
}

img {
    background: var(--theme-bg);
}

.span {
    color: var(--theme-sub-text);
}

.d-flex {
    background: var(--theme-bg);
    color: var(--theme-sub-text);
}

.shadow, 
.shadow-lg {
    background: var(--theme-card);
}

.footer-text,
.footer-text:hover {
    color: var(--theme-footer-text);
    text-decoration: none;
}

.modal-content {
    background: var(--theme-card);
}

.btn,
.btn-info {
    background-color: var(--theme-btn);
    border-color: var(--theme-btn);
}


.btn-info:hover {
    background-color: var(--theme-btn);
    }

.btn-info,
.btn-info:active,
.btn-info:visited, {
    background-color: var(--theme-btn);
}

    .btn-info:focus {
    background-color: var(--theme-btn);
    border-color: var(--theme-btn);
    color: black;
    }

#tool-tab {
    background-color: var(--theme-card-color);
}

#results {
    color: var(--theme-output-color);
}

#email-input {
    background-color: var(--theme-bg); 
    border: #181818; 
    color: var(--theme-input-color); 
    font-family: Consolas,Menlo,"courier new",monospace;
}

#email-output {
    background-color: var(--theme-bg); 
    border: #181818; 
    color: var(--theme-output-color); 
    font-family: Consolas,Menlo,"courier new",monospace;
}
}
