{% extends 'base.html' %}
{% load static %}

{% block content %}

</br>

<!-- Card body -->

    <div class='container'>
        <div class='row'>
        <div class='col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7 mx-auto'>
      <div class='shadow-lg p-4 rounded'>
        <h2>Address J16</h2>
        <p>Just enter your address and select [Generate] to generate your address list.</p>
        <hr/>
      <div class="card-body">
 
      <!-- partial:index.partial.html -->
        <div class='row'>
            <div class='col-md-6'>

         <div class="result">
        <div class='d-flex' id='tool-tab'>
            <label>Enter your address:</label>
        </div>
             <input  class='form-control mb-4 w-100' type="text" placeholder="123 Rainbow Rd." name="address" required class="type-1 no-outline" style='font-family: Consolas,Menlo,"courier new",monospace;' id="input"/>
         </div>
         <div class="length range__slider" data-min="4" data-max="32">

        <div class='d-flex' id='tool-tab'>
            <label for='slider' class="" data-length='0' id="curLength">Amount to Generate: <div id='amount'></div></label>
        </div>
        <div class='d-flex p-2 rounded mb-4'>
            <input id='slider' type="range" class="form-range" min="4" max="32" value="4">
        </div>

        </div>


    <div class='d-flex' id='tool-tab'>
        <label class="">Settings</label><br/>
    </div>

<div class="d-flex p-2 rounded mb-1">Add numbers to output
    <div class='form-check form-switch ms-auto'>
  <input class="form-check-input" type="checkbox" role="switch" id="numbers">
  </div>

</div>


<div class="d-flex p-2 rounded">Add whitespace to output
    <div class='form-check form-switch ms-auto'>
  <input class="form-check-input mb-1" type="checkbox" role="switch" id="whitespace">
  </div>
</div>


<div class="d-flex p-2 mb-5" id='tool-tab'></div>

                <button onclick='generateAddresses()' class="btn w-100 mt-4 mb-3" id="generate">Generate</button>
         <div>
            <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 229px;"></textarea>-->
         </div>
      </div>

      <div class='col-md-6'>
      <div>
        <div class='d-flex' id='tool-tab'>
            <label>Output:</label>
            <button class='btn btn-sm ms-auto py-0' onclick = "downloadFile()" style='font-size: 0.8rem;'>Save as .txt</button>
        </div>
         <textarea class="form-control" id="output" rows="16" style='font-family: Consolas,Menlo,"courier new",monospace;'> </textarea>
      </div>
      </div>

      </div>
      <!-- partial -->

</div>
</div>
</div>


<script src="{% static 'js/addressfunc.js' %}"></script>
<script src="{% static 'js/address_dl_text.js' %}"></script>
<script src="{% static 'js/address_slider.js' %}"></script>

  
{% endblock content %}
