{% extends 'base.html' %}
{% load static %}
{% block title %}Address Jigger{% endblock %}

{% block content %}

<script src='{% static "js/addressfunc.js" %}' type='text/javascript'></script>

<style>
    .list-group-item {
        background-color: gray;
      }

    label {
        color: white;
    }

    p {
        color: white;
    }

    div {
        color: white;
    }

</style>

<div class='container'>
    <h1 class='text-center' style='color: white;'>Address Jigger</h1>
    <br>
</div>

<!-- Card body -->
    <div class='container'>
      <div class='card p-4' style='background: linear-gradient(146deg, rgba(0,0,0,1), rgba(0,0,0,0.3))'>
        <h2>Address Jigger</h2>
        <p>Just enter your gmail and select how many variations to generate your emails</p>
      <div class="card-body">
 
      <!-- partial:index.partial.html -->
        <div class='row'>
            <div class='col-4'>

         <div class="result">
            <input class='form-control mb-4' type="text" placeholder="Enter Your Address Here" name="address" required class="type-1 no-outline" style="border:none; color: #25d5e4;" id="input"/>
         </div>
         <div class="length range__slider" data-min="4" data-max="32">

            <label for='slider' class="form-label" data-length='0' id="curLength">Amount to Generate:</label>
            <input id='slider' type="range" class="form-range mb-3" min="4" max="32" value="4">

        </div>


        <span class="settings__title field-title">settings</span>
        <ul class="list-group">
          <li class="list-group-item mb-3">
            <div class="form-check form-check-reverse">
               <input class='form-check-input' type="checkbox" id="uppercase"/>
               <label class="form-check-label stretched-link" for="uppercase">Add Random Letters</label>
            </div>
          </li>

          <li class="list-group-item mb-3">
            <div class="form-check form-check-reverse">
               <input class='form-check-input' type="checkbox" id="lowercase"/>
               <label class="form-check-label stretched-link" for="lowercase">Add Characters to Start</label>
            </div>
          </li>

          <li class="list-group-item mb-3">
            <div class="form-check form-check-reverse">
               <input class='form-check-input' type="checkbox" id="symbol"/>
               <label class="form-check-label stretched-link" for="symbol">Add Spaces</label>
            </div>
          </li>

        </ul>


                <button onclick='generateAddresses()' class="btn btn-info" id="generate">Jig Address</button>
         <div>
            <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 229px;"></textarea>-->
         </div>
         <sub>&nbsp;</sub>
         <sub>&nbsp;</sub>
         <sub>&nbsp;</sub>
         <p>&nbsp;</p>
        <a style="text-decoration:none; text-align:left; color: #25d5e4; font-size: 14px;" href="#">blueberry.py</a>
         <sub>&nbsp;</sub>
      </div>
      </div>

      <div class='col-4'>
      <div>
         <textarea class="form-control no-outline" id="output" cols='60' rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 594px; width: 594px;">// Recommended Usage &#13;&#10;// Use both Add Random Letters and Add Numbers To Start  </textarea>
      </div>
      </div>

      </div>
      <!-- partial -->

</div>
{% endblock content %}

