{% extends 'base.html' %}
{% load static %}
{% block title %}Exiftool - exif data manipulation tool{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/exifreader"></script>

<!--style rel='stylesheet' href='{% static "css/exifpage.css" %}'></style-->
<style>
label {
    color: #ebdbb2;
}

p {
    color: #a89984;

}

div {
    color: #a89984;
}
h2 {
    color: #ebdbb2;
}
hr {

    border: solid;
    border-color: black;
}


  .file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #ebdbb2;
  background: #ebdbb2;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #fb4934;
  color: #fb4934;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  background-color: #282828 ;
  margin-top: 0px;
  border: 4px dashed #504945;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  border: 4px dashed #ebdbb2;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #fb4934;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #bdae93;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
</style>



<br>
<div class='container'>

    <div class='row'>
    <div class='col-7 mx-auto'>
    <div class='shadow-lg p-4 rounded' style='background: #3c3836'>
    <h2>Exif Data Viewer</h2>
            <p>Drag your image into the box to remove exif data.</p>
            <p style='color:  #fb4934;'>Please note: this tool is in alpha stage. Only exif data view is available. Exif removal and photo download function is coming soon</p>
    <hr/>

        <div class='row'>
            
            <div class='col-6'>


    <div class='d-flex' style='background-color: #504945;'>
        <label>Upload your image:</label>
    </div>

    
                <!--alt drag and drop -->
                <!--div class="image-upload-wrap">
    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
    <div class="drag-text">
      <h3>Drag and drop a file or select add Image</h3>
    </div>
  </div>
  <div class="file-upload-content">
    <img class="file-upload-image" src="#" alt="your image" />
    </div-->

                <!-- Original drag n drop --> 
    <div class='image-upload-wrap mb-3'>
    <div class="d-flex justify-content-center">
      <label id="drop" class="" style='height: 7rem'>
              <div class='span text-center mt-2' style='background-color: #282828;'><img src='{% static "images/icons8-image-file-64.png"%}' style='background-color: #282828;'/></br>Drop your files here</div>
            <input type="file" name="file_upload" class="invisible" />
        </span>
      </label>
      </div>
    </div>
<button class='btn w-100 mb-auto' style='background-color: #fe8019;'>Rinse!</button>

            </div>

            <div class='col-6'>

    <div class='d-flex' style='background-color: #504945;'>
        <label>Output:</label>
        <button class='btn btn-sm ms-auto py-0' style='background-color: #fe8019; font-size: 0.8rem;'onclick = "downloadFile()">Save .txt File</button>
    </div>

    <div class="d-flex p-2 rounded" style='background-color: #282828; height: 22rem; display: inline-flex;'>
    <div id="results" style='font-color: #fabd2f; font-family: Consolas,Menlo,"courier new",monospace;' class=""></div>
    </div>
        </div>

        <div class='row'>
        </div>

    </div>
    </div>
    </div>
</div>


<script src='{% static "js/exifpage.js" %}'></script>

<script>
window.addEventListener('DOMContentLoaded', () => {
  const area = document.getElementById('drop')
  const input = area.querySelector('input')

  const onDrop = function(e) {
    e.preventDefault();
    e.stopPropagation();
    area.classList.remove('dropping');
    processFiles(e.dataTransfer.files);
  }

  const onDrag = function(e) {
    e.preventDefault();
    e.stopPropagation();
    area.classList.add('dropping');
  }

  const onLeave = function(e) {
    e.preventDefault();
    e.stopPropagation();
    area.classList.remove('dropping');
  }


  const onSelect = function(e) {
    processFiles(e.target.files);
  }

  area.addEventListener('dragenter', onDrag, false)
  area.addEventListener('dragover', onDrag, false)
  area.addEventListener('dragleave', onLeave, false)
  area.addEventListener('drop', onDrop, false)
  input.addEventListener('change', onSelect, false)
});
</script>

<script>

const results = document.getElementById('results')

const div = function(text) {
  const elem = document.createElement('div');
  elem.innerHTML = text;
  results.appendChild(elem);
  elem.style.color = "#fabd2f";
}

const processFiles = async function(files) {
  if (files && files.length) {
    results.innerHTML = ''; // remove old results
    for (let file of files) {
      div(`<strong>${file.name}</strong>`);
      let exif = null;
      try {
        exif = await ExifReader.load(file);
      } catch(e) {
        div(`<span class="text-red-700">${e.message}</span>`);
      }
      if (exif) {
        for (let tag in exif) {
          div(`${tag}: ${exif[tag].value} - ${exif[tag].description}`);
        }
      } else {
        div(`No results`);
      }
      div(`&nbsp;`);
    }
  }
}
</script>


{% endblock %}
