{% extends 'base.html' %}
{% load static %}
{% block title %}rinsr{% endblock title %}
{% include 'navbar.html' %}

{% block content %}

<br>
<div class='container'>
    <div class='row mt-5'>
        <div class='col-2'></div>

        <div class='col-8'>
            <h1 style='color: #ebdbb2;'>Welcome</h1>
            <p style='color: #bdae93'>This is a suite of developer tools made by blueberry.py</p>

<!-- Button trigger modal -->
<button type="button" class='btn btn-info rounded-pill' style='background-color: #fe8019; border-color: #fe8019;' data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
  Explore
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style='width: 20%; '>
    <div class="modal-content" style='background: #3c3836;'>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle" style='color: #ebdbb2;'>All Tools</h5>
        <button type="button" class="btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
            <li style='color: #fe8019;'> <a href='{% url "exif" %}' style='text-decoration: ; color: #b8bb26;'>Exif Tool</a></li>
            <li style='color: #fe8019;'> <a href='{% url "dotmethod" %}' style='text-decoration: ; color: #b8bb26;'>Dot Method Tool</a></li>
            <li style='color: #fe8019;'> <a href='{% url "address_edit" %}' style='text-decoration: ; color: #b8bb26;'>Address Edit Tool</a></li>
            <li style='color: #fe8019;'> <a href='#' style='text-decoration: ; color: #98971a;'>[Locked]</a></li>
            <li style='color: #fe8019;'> <a href='#' style='text-decoration: ; color: #98971a;'>[Locked]</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

        </div>

        <div class='col-2'></div>
    </div>
    </div>

<script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
    </script>
{% endblock content %}

