<nav style='background: #282828' class="navbar mt-4 mb-4 mx-1 mx-sm-5 navbar-dark navbar-expand-lg">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}" style='color: #ebdbb2;'>Exif Remover [Alpha]</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link mx-1" style='color: #ebdbb2;' aria-current="page" href="{% url 'exif' %}">Exiftool</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-1" style='color: #ebdbb2;' href="{% url 'dotmethod' %}">Dot Method</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-1" style='color: #ebdbb2;' href="{% url 'address_edit' %}">Address Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-1" href="#" style='color: #a89984;' alt='Addressgen'>[Locked]</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-1" href="#" style='color: #a89984;' alt='Profilegen'>[Locked]</a>
        </li>
        <!--li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul-->
      <!--form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form-->
    </div>
  </div>
</nav>
