{% block title %}Testing theme feature{% endblock title %}

{% block content %}

<h1>Testing new feature</h1>
</br>
<p>Here is some paragraph</p>
<p>Here is some paragraph</p>
<p>Here is some paragraph</p>
<p>Here is some paragraph</p>
</br>
<h2>What are we testing for?</h2>
<p>We are adding a new feature that lets you change the theme of the website</p>
<p>There will be a switch that lets you change the color of the site</p>
<p>To do this we first have to organize the css style in a way that the color is organized in the css_base file and in bootstrap</p>
<p>We need to keep all colors organized instead of using inline styles etc</p>
</br>

<h3>VVV Testing area below VVV</h3>


{% endblock content %}
