
  .theme-brown {
    --color-primary: #fbfbfe;
    --color-secondary: #282828;
    --color-accent: #fd6f53;
    --font-color: #000000;
  }
  .theme-blue {
    --color-primary: #243133;
    --color-secondary: #282a36;
    --color-accent: #12cdea;
    --font-color: #ffffff;
  }
  .container {
  }

body {
    background: var(--color-secondary);
  }

  h1 {
    color: var(--font-color);
  }
  button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
  }
